:root {
  --global-font-size: 16px;
  --global-line-height: 1.4em;
  --global-space: 10px;
  --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  --background-color: #fff;
  --page-width: 40em;
  --font-color: #222225;
  --invert-font-color: #222225;
  --secondary-color: #a3abba;
  --tertiary-color: #a3abba;
  --primary-color: #00ff41;
  --error-color: #ff3c74;
  --progress-bar-background: #3f3f44;
  --progress-bar-fill: var(--primary-color);
  --code-bg-color: #3f3f44;
  --input-style: solid;
  --display-h1-decoration: none;
}
* html {
  transition: "color 0.2s ease-out, background 0.2s ease-out";
}
.slider-container {
  width: auto;
  padding-right: 30px;
  overflow: hidden;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  margin-top: 5px;
  border-radius: 30px !important;
  background-color: var(--progress-bar-background);
  outline: none;
}

.form-group {
  margin: 20px;
  margin-bottom: -5px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--progress-bar-fill);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--progress-bar-fill);
  cursor: pointer;
}
.row {
  display: flex;
}
.col {
  flex: 1;
}
input.light::-moz-selection {
  background: transparent;
}
input.light::selection {
  background: transparent;
}
input.dark::-moz-selection {
  background-color: transparent;
  color: #fff
}
input.dark::selection {
  background-color: transparent;
  color: #fff
}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.clipboard {
  margin: 7px -5% 0px;
  text-align: right;
}
@media (max-width: 48em) {
  .clipboard {
    margin: 7px -10% 0px;
  }
  h1 {
    font-size: 18px;
    padding: calc(var(--global-space)) 0 calc(var(--global-space));
  }
  .switch {
    padding: calc(var(--global-space)) 0 calc(var(--global-space));
  }
  .row {
    flex-direction: column;
  }
  .col {
    flex: 0 0 auto;
  }
}
/* The checkbox-container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #3f3f44;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #333338;
}
.switch {
  text-align: right;
  padding: calc(var(--global-space) * 2) 0 calc(var(--global-space) * 2);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
